<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
  <title>Confetti: Lots of little notes</title>
 <!-- Materialize CSS -->
 <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
 <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <!-- script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script -->

<!-- Vue.js -->
  <script src="https://npmcdn.com/vue@next/dist/vue.js"></script>
</head>
<body>
 <header>
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Confetti</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#" onClick="app.newAsset()">New Asset</a></li>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div id="app" class="container">
   <div class="row">
   <div class="col s12 m6">
   <div class="card" v-for="asset in assets">
    <div class="card-content">
    <span class="card-title" v-on:click="asset.editing=true">
    <template v-if="!asset.editing">{{ asset.name }}</template>
    <input v-model="asset.name" v-if="asset.editing" v-on:blur="asset.editing=false">
    </span>
    <confet-aspect-list v-bind:aspects="asset.aspects"></confet-aspect-list>
    </div>
    <div class="card-action">
    <a href="#" v-on:click="addAspect"><i class="material-icons circle grey lighten-3">add</i> Add Aspect</a>
    </div>
  </div>
  </div>
  </div>
  </div>
</main>
    <footer> </footer>
  <script>
    Vue.component('confet-aspect', {
        'template' : `
<li class="collection-item">{{ label }}</li>
        `,
        props: ['name', 'value'],
        computed: {
            label: function () {
            return `${this.name} (${this.value})`;
            }
        }
    });

   Vue.component('confet-aspect-list', {
    'template': `
    <ul class="collection with-header">
    <li class="collection-header">Aspects:</li>
    <confet-aspect v-for="aspect in aspects"
                   v-bind:name="aspect.name" 
                   v-bind:value="aspect.value"></confet-aspect>
    <ul>
    `,
    props: ['aspects']
   } );

    const app = new Vue({
      el: '#app',
      data: {
        assets: [ { name: "A Thing", editing: false, aspects: [ { name: "Very useful", value: 3 } ] } ]
      },
      methods: {
        humanizeURL: function (url) {
          return url
            .replace(/^https?:\/\//, '')
            .replace(/\/$/, '')
        },
        addAspect: function ( ) {

        },
        editName: function () {

        },
        newAsset: function () {
            this.assets.push({ name: 'new asset', editing: true, aspects: [] });
            return false;
        }

      }
    })
  </script>
</body>
</html>
